<div class="d-flex flex-column justify-content-around align-items-center image-container text-center">
    <div>
        <div>
            <img src="assets/images/space.png" class="img-fluid" alt="404 dinosaur">
        </div>
        <div>
            <h1>Oops! We encountered an error</h1>
            <p>Please go back to the link you came from or choose another link</p>
        </div>
    </div>
    <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a
            href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</div>