<div class="container-fluid">
    <div class="row">
        <div class="col py-3 d-flex align-items-center">
            <h1>I'M LOOKING FOR &nbsp;</h1>
            <app-category-select (categorySelected)="setCategory($event)" class="text-blue"></app-category-select>
        </div>
    </div>
    <div class="row">
        <div class="col py-3">
            <h2>... and it needs to have &nbsp;</h2>
            <app-filter-set-select (selectFilters)="setFilters($event)" class="text-success"></app-filter-set-select>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex align-items-center">
            <h2>... in the month of &nbsp;</h2>
            <app-date-select (monthSelected)="setMonth($event)" class="text-warning"></app-date-select>
        </div>
    </div>
    <div class="row">
        <div class="col py-4">
            <button class="btn btn-primary btn-lg" (click)="onSubmit()">Search</button>
        </div>
    </div>
</div>