<div class="container-fluid">
    <div class="row">
        <div class="col py-3 d-flex align-items-center">
            <h1>I'M LOOKING FOR &nbsp;</h1>
            <app-category-select (categorySelected)="setCategory($event)" class="text-blue"></app-category-select>
        </div>
    </div>
    <div class="row">
        <div class="col py-3">
            <h2>... and it needs to have &nbsp;</h2>
            <app-filter-set-select (selectFilters)="setFilters($event)" class="text-success"></app-filter-set-select>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex align-items-center">
            <h2>... in the month of &nbsp;</h2>
            <app-date-select (monthSelected)="setMonth($event)" class="text-warning"></app-date-select>
        </div>
    </div>
    <div class="row">
        <div class="col py-4">
            <button class="btn btn-primary btn-lg d-flex align-items-center" (click)="onSubmit()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>
                <span class="ml-2">Search</span>
            </button>
        </div>
    </div>
</div>