<div class="container">
    <div class="row">
        <div class="col-sm-1 col-md-4 col-lg-3 my-4" *ngFor="let previewEvent of previewEvents; index as i"
            (click)="gotoEventPage(previewEvent.eventId)">
            <div class="event-container d-flex flex-column text-left" [ngStyle]="{'max-width': displayWidth+'px'}">
                <div class='date-range-container d-flex'>
                    <div class="date-range-unit flex-column start-date justify-content-center text-center">
                        <div class="month-container">{{getMonthAbbrev(previewEvent.dateStartMonth) | uppercase}}</div>
                        <div class="day-container">{{previewEvent.dateStartDay}}</div>
                    </div>
                    <ng-container *ngIf="!isSameDay(previewEvent)">
                        <div class="align-self-stretch d-flex align-items-center">
                            <div>-</div>
                        </div>
                        <div class="date-range-unit flex-column end-date justify-content-center text-center">
                            <div class="month-container">{{getMonthAbbrev(previewEvent.dateEndMonth) | uppercase}}</div>
                            <div class="day-container">{{previewEvent.dateEndDay}}</div>
                        </div>
                    </ng-container>
                </div>
                <div class="img-parent-container bg-dark d-flex" [ngStyle]="{
                    'height':displayWidth+'px',
                    'width':displayWidth+'px'
                }">
                    <div class="img-container">
                        <img [src]="previewEvent.previewImageURL | getDownloadURL" alt="preview image">
                    </div>
                    <div class="menu-buttons-container align-self-end mr-auto p-1" *ngIf="allowEdit">
                        <button class="btn btn-outline-primary" (click)="editEvent(previewEvent)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path
                                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd"
                                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                            </svg>
                        </button>
                        <button class="btn btn-outline-danger ml-1" (click)="trashEvent(previewEvent)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path
                                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                            </svg>
                        </button>
                    </div>
                    <div class="price-container p-1 align-self-end ml-auto d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-cash-stack" viewBox="0 0 16 16">
                            <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1H1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" />
                            <path
                                d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2H3z" />
                        </svg>
                        <span class="ml-1">{{previewEvent.price | number: '1.2-2'}}</span>
                    </div>
                </div>
                <div class="event-caption mt-2">
                    <a class="text-primary" (click)="gotoEventPage(previewEvent.eventId)">
                        <strong>{{previewEvent.name}}</strong>
                    </a><br />
                    <p>{{previewEvent.shortLocation}}</p>
                </div>
                <div class="event-filters-container">
                    <div class="d-inline mb-1" *ngFor="let filter of previewEvent.filters" placement="bottom"
                        [ngbTooltip]="getFilter(filter).longName">
                        <i class="filter-icon mx-1 {{getFilter(filter).iconClass}}"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>