<div class="container">
    <div class="row">
        <div class="col text-center py-5">
            <h1>Edit the Event</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <app-event-form [contents]="editEvent" (onSubmit)="update($event)" *ngIf="editEvent != null"
                [disableSubmit]="showError || progressBarValue > 0">
            </app-event-form>
        </div>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="showError">
        This site encountered an error. Please try again later.
    </div>
    <div class="alert alert-success my-3" role="alert" *ngIf="uploadComplete">
        <p><strong>Upload Success.</strong></p>
        <p>You can now go back to calendar or close this window.</p>
    </div>
    <div *ngIf="progressBarValue > 0 && !uploadComplete">
        <div class="alert alert-warning py-3" role="alert">
            <h4 class="alert-heading">Uploading Files</h4>
            Please wait as we complete the event upload...
        </div>
        <div class="row">
            <div class="col">
                <p>
                    <ngb-progressbar type="success" [value]="progressBarValue" [striped]="true"></ngb-progressbar>
                </p>
            </div>
        </div>
    </div>
</div>