<div class="select-container d-inline-flex align-items-center px-2 py-1 m-1"
    *ngFor="let filter of currentlySelectedFilters; index as i" [ngbPopover]="popContent" [popoverTitle]="popTitle"
    placement="bottom" (click)="currentlyHighlightedFilter = i">
    <h2 *ngIf="filter != null; else selectionEmpty"><i [class]="filter!.iconClass"></i> {{filter!.longName}} &nbsp;</h2>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill"
        viewBox="0 0 16 16">
        <path
            d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
    </svg>
</div>

<ng-template #selectionEmpty>
    <h2 class="text-muted">SELECT AN OPTION&nbsp;</h2>
</ng-template>

<ng-template #popTitle>
    <div class="popover-menu-title py-1">
        or it probably shoud have ...
    </div>
</ng-template>
<ng-template #popContent>
    <div class="popover-menu-content d-flex flex-column">
        <button class="btn btn-outline-dark my-1" *ngFor="let option of options; index as i" (click)="selectOption(i)"
            [ngClass]="{'hidden': (
                i == filterMenuIndexForWheelchair && currentlySelectedFilters.includes(wheelchairFilter) ||
                i == filterMenuIndexForRemove && currentlySelectedFilters[0] == null
                )}">
            {{option}}
        </button>
    </div>
</ng-template>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Select Filters</h4>
        <button type="button" class="close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table">
            <tbody>
                <tr *ngFor="let filter of filters" (click)="toggleFilter(filter)" class="select-filter-row"
                    [ngClass]="{'table-primary': selectedInclude(filter) }">
                    <td class="text-center">
                        <i [class]="filter.iconClass" class="filter-icon"></i>
                    </td>
                    <td>{{filter.longName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>